div#header ul {
	padding: 0;
	margin: 0;
	float: right;
	display: inline;
}

div#header ul li {
	padding: 10px;
	margin: 0;
	display: inline;
}

div.bar {
	height: 20px;
}

div#tabs div.container {
	padding: 0 20px 20px 20px;
}

div#footer {
	float: right;
}