<div id="legend" class="ui-widget-content">
  <h3>Legend</h3
  <div class="legend-color outbound"></div> Outbound links from selected page<br/>
  <div class="legend-color inbound"></div> Inbound links to selected page<br/>
  <div class="legend-color tier2-2"></div> Link between tier two pages<br/>
  <div class="legend-color tier1-3"></div> Link between tier two and tier three page<br/>
</div>