<div style="width:100%" align="center">
  <div style="height: 20px;" id="log"></div>
</div>

<div id="center-container" style="width: 100%;height:800px">
    <div id="infovis" style="width: 100%;height:800px"></div>
</div>

<div id="right-container">
  <div>
    <h4>Title: Example Sitemap</h4>
    <p>
      <strong>URL:</strong> http://www.seomoz.org<br/>
      <strong>Page Count:</strong> 428
    </p>
  </div>
  <div>
    <h4>Legend</h4>
    <div class="legend-color outbound"</div> Outbound links from selected page<br/>
    <div class="legend-color inbound"></div> Inbound links to selected page<br/>
    <div class="legend-color tier2-2"></div> Link between tier two pages<br/>
    <div class="legend-color tier1-3"></div> Link between tier two and tier three page<br/>
  </div>
  <div id="inner-details" style="width: 300px;"></div>
</div>

<br style="clear:both"/>
<script type="text/javascript">
$(function() {
	$("#right-container").dialog({width:325, "position": [10,75]});
	try {
    init();
  } catch(e) {
    Log.write("Error loading graph.");
  }
});
</script>
<%= javascript_include_tag 'jit-yc' %>
<%= javascript_include_tag 'example.js' %>
<%= javascript_include_tag 'jit-sitemap' %>