<h2>Welcome to Sitemapper</h2>
<div id="home_content">
<p style="clear:both;">Sitemapper harnesses the power of the SEOmoz Linkscape API to make a link-graph visualization of your website.</p>
  <img src="/images/graph.png" style="float:left;height:100px;padding: 0 20px 0 20px;">
  <div style="padding: 0 20px 0 20px;">
  <p>

    <b>Cool?</b>  Definitely.<br/>
    <b>Useful?</b> Not entirely.<br/>
    <b>Example?</b> <a href="/graphs/example">Right here</a>.<br/>
    <a class='signup_now' href="/users/signup">Signup now</a>
  </p>
  </div>
</div>

<br style="clear:both"/>

<p>
  <b>Note:</b> You'll need a <a href="https://www.seomoz.org/users/register">SEOmoz login</a> first.
</p>