<h2>Welcome to Sitemapper</h2>
<p>
Sitemapper harnesses the power of the SEOmoz Linkscape API to make a link-graph visualization of your website. Checkout out <a href="/graphs/example">an example</a>.
</p>
<div class="marketing_container">
  <div class="truths">
    <p>
      <b>Cool?</b>  Definitely.<br/>
      <b>Useful?</b> Not entirely.<br/>
    </p>
  </div>
  <div class='signup_now'>
    <a href="/users/signup">Signup now</a> to get started.
  </div>
</div>
<br style="clear:both"/>
<p>
  <b>Note:</b> You'll need a <a href="https://www.seomoz.org/users/register">SEOmoz login</a> first.
</p>